@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="col-lg-2 col-md-2" style="font-size:14px;">
        <div class="vertical-menu" style="float:left">
            <a href="#" class="active">Scientific Research</a>
            <a href="#">Technology Development</a>
            <a href="#">Technology Missions Division</a>
            <a href="#">Women Scientists Program    </a>
            <a href="#">Link 4</a>
        </div>
    </div> <div class="col-lg-1 col-md-1">
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span><b>Technology News</b>
            </div>
            <div class="panel-body" style="padding:0px !important">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="news-demo-down-auto">
                            <li class="news-item">Python new version is released..<a href="#">Read more...</a></li>
                            <li class="news-item">Get ready for Bootstrap 4.... <br />Compare with Bootstrap 3 <a href="#">Read more...</a></li>
                            <li class="news-item">New forms in Bootstrap.. <a href="#">Read more...</a></li>
                            <li class="news-item">PHP date ... <a href="#">Read more...</a></li>
                            <li class="news-item">Read about Java update ... <a href="#">Read more...</a></li>
                            <li class="news-item">HTML 5... <a href="#">Read more...</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1">
    </div>
    <div class="col-lg-2 col-md-2" style="font-size:14px;">
        <div class="vertical-menu" style="float:right">
            <a href="#" class="active">Scientific Research</a>
            <a href="#">Technology Development</a>
            <a href="#">Technology Missions Division</a>
            <a href="#">Women Scientists Program    </a>
            <a href="#">Link 4</a>
        </div>
    </div>
</section>
<!-- Start Slider -->
<section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="~/Images/3.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <span></span>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="~/Images/1.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Slider 1</h4>
            <span></span>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="~/Images/6.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <span></span>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- End Slider -->
    <hr />
</section>

<!-- Start service  -->

<!-- End service  -->

